* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-clip: border-box;
}

.container {
  max-width: 1170px;
  width: 95%;
  margin: auto;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.header__logo img {
  width: 140px;
  height: 140px;
  margin-top: -45px;
  margin-left: -20px;
}

.header__navbar {
  margin-top: 10px;
}

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

@media (max-width: 1024px) {
  .hamburger {
    font-size: 1.8em;
  }
}

.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

@media (max-width: 1024px) {
  .cross {
    font-size: 4em;
  }
}

.menu {
  z-index: 1000000;
  font-weight: bold;
  width: 30%;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(121, 190, 231, 0.48);
}

@media (max-width: 1024px) {
  .menu {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 40%;
  }
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #fff 1px solid;
}

.menu li:hover {
  display: block;
  background-color: #81c7f0;
  padding: 15px 0 15px 0;
  border-bottom: #fff 1px solid;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}

.menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  text-decoration: none;
  color: #fff;
}

.section-about {
  background-color: rgba(54, 51, 51, 0.48);
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 640px) {
  .about-block {
    display: block;
  }
}

.about-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .about-text {
    padding-top: 1px;
  }
}

.about__title {
  font-size: 28px;
  color: #fff;
}

@media (max-width: 1024px) {
  .about__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .about__title {
    font-size: 22px;
  }
}

.about__subtitle {
  font-size: 24px;
  color: #fff;
}

@media (max-width: 1024px) {
  .about__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .about__subtitle {
    font-size: 18px;
  }
}

.about-image {
  margin: auto;
  margin-top: 20px;
}

@media (max-width: 640px) {
  .about-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-image img {
  max-width: 100%;
  width: 375px;
  border: 3px solid white;
}

@media (max-width: 640px) {
  .about-image img {
    margin: auto;
    margin-top: 20px;
  }
}

.section-portfolio {
  background-color: rgba(54, 51, 51, 0.48);
}

.portfolio__arrows {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px 0 40px;
  position: relative;
  bottom: 300px;
}

@media (max-width: 640px) {
  .portfolio__arrows {
    bottom: 200px;
  }
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.arrows__left .fa-solid, .arrows__right .fa-solid {
  font-size: 40px;
}

.slider img {
  margin: auto;
  margin-top: 40px;
  max-width: 400px;
  border: 5px solid white;
}

@media (max-width: 640px) {
  .slider img {
    max-width: 300px;
  }
}

@media (max-width: 640px) {
  .slider img {
    max-width: 260px;
  }
}

.section-price {
  background-color: rgba(54, 51, 51, 0.48);
}

.price__title {
  font-size: 28px;
  color: #fff;
  margin: 15px 0 15px 0;
}

.price__title:first-child {
  margin-top: 0;
  padding-top: 20px;
}

.price__subtitle {
  font-size: 24px;
  color: #fff;
}

.price__info {
  font-size: 24px;
  color: #fff;
  display: block;
  margin-top: 20px;
}

.section-contacts {
  background-color: rgba(54, 51, 51, 0.48);
}

.contacts__title {
  font-size: 28px;
  color: #fff;
  padding-top: 20px;
}

.contacts__instagram {
  font-size: 100px;
}
/*# sourceMappingURL=style.css.map */